@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?21902261');
  src: url('../font/fontello.eot?21902261#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?21902261') format('woff2'),
       url('../font/fontello.woff?21902261') format('woff'),
       url('../font/fontello.ttf?21902261') format('truetype'),
       url('../font/fontello.svg?21902261#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?21902261#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-left-open-mini:before { content: '\e800'; } /* '' */
.icon-right-open-mini:before { content: '\e801'; } /* '' */
.icon-up-open-mini:before { content: '\e802'; } /* '' */
.icon-down-open-mini:before { content: '\e803'; } /* '' */
.icon-down-open:before { content: '\e804'; } /* '' */
.icon-left-open:before { content: '\e805'; } /* '' */
.icon-right-open:before { content: '\e806'; } /* '' */
.icon-up-open:before { content: '\e807'; } /* '' */
.icon-down-open-big:before { content: '\e808'; } /* '' */
.icon-left-open-big:before { content: '\e809'; } /* '' */
.icon-right-open-big:before { content: '\e80a'; } /* '' */
.icon-up-open-big:before { content: '\e80b'; } /* '' */
.icon-search:before { content: '\e80c'; } /* '' */
.icon-user:before { content: '\e80d'; } /* '' */
.icon-home:before { content: '\e80e'; } /* '' */
.icon-home-1:before { content: '\e80f'; } /* '' */
.icon-cancel:before { content: '\e810'; } /* '' */
.icon-heart:before { content: '\e811'; } /* '' */
.icon-attention-1:before { content: '\e812'; } /* '' */
.icon-heart-empty:before { content: '\e813'; } /* '' */
.icon-plus:before { content: '\e814'; } /* '' */
.icon-emo-thumbsup:before { content: '\e815'; } /* '' */
.icon-dot-3:before { content: '\e816'; } /* '' */
.icon-plus-1:before { content: '\e817'; } /* '' */
.icon-check:before { content: '\e818'; } /* '' */
.icon-ok:before { content: '\e819'; } /* '' */
.icon-pencil:before { content: '\e81a'; } /* '' */
.icon-pencil-1:before { content: '\e81b'; } /* '' */
.icon-pencil-2:before { content: '\e81c'; } /* '' */
.icon-attention:before { content: '\e81d'; } /* '' */
.icon-alert:before { content: '\e81e'; } /* '' */
.icon-attention-2:before { content: '\e81f'; } /* '' */
.icon-attention-3:before { content: '\e820'; } /* '' */
.icon-user-1:before { content: '\e821'; } /* '' */
.icon-picture:before { content: '\e822'; } /* '' */
.icon-down-open-1:before { content: '\f004'; } /* '' */
.icon-up-open-1:before { content: '\f005'; } /* '' */
.icon-right-open-1:before { content: '\f006'; } /* '' */
.icon-left-open-1:before { content: '\f007'; } /* '' */
.icon-menu:before { content: '\f008'; } /* '' */
.icon-cancel-circled:before { content: '\f06e'; } /* '' */
